/* 
  Keep the summary text clear of the grab handle in the
  draggable table
*/

.form_logic_rule_element {
    float: left;
    width: 90%;
}

.form_logic_rule_element.disable,
.disable .form_logic_message,
.disable .form_logic_summary_parameter {
    color: #A0A0A0;
}


table td.form_logic_rule_element_add {
    background-color: #E5EFF4; /* blue */
    height: 1em;
    padding-bottom: 2px;
    padding-top: 2px;
}

.form_logic_list_first_column {
    /* width: 60%; */
}

.form_logic_rule_element_add ul.action-links {
    margin: 0px;
    padding: 0px;
}

.form_logic_message, .form_logic_summary_parameter {
    background-color: #F8FFF0; /* green */ 
    color: #234600;
    border: solid 1px #BBEE77;
    margin: 2px 0px;
    padding: 2px 6px;
}

.form_logic_case_sensitive
{
    float: right;
    background-color: #A8FFF0; 
    color: #234600;
    border: none;
    margin: 0;
    padding: 0px 6px;
}

.form_logic_summary_parameter {
    background-color: #E8F0F0;
    border-color: #BBBBBB;
}

.form_logic_select_minimmum_width {
    min-width: 25em; /* prevent wild oscillation of widths when updating form */
}

.form_logic_table_row td {
    vertical-align: top;
}

input.form_logic_smaller_button.form-submit {    
    background: none repeat scroll 0 0 transparent;
    border: none;
    border-radius: 0px;
    font-size: small;
    margin: 0px;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    text-decoration: underline;
    box-shadow: none;  
}
