<h2>Form Logic</h2>

<p>Form Logic is module to add conditional validation options and other conditional customisations to node add / edit forms using the using configuration (UI) rather than code.</p>

<h3>Features</h3>

<ul>
    <li>Add validation rules to forms using UI. No code required</li>
    <li>Conditionally add validation rules:
        <ul><li>apply a validation rule if the user has (or does not have) a specified role</li>
            <li>apply a validation rule if another field is set to a particular value, e.g. if the 'Special offer' field is set to 'Bargain' require that the price field has a maximum value of 9.99.</li></ul>
    
    <li>Hide fields on form using UI.</li>
    <li>Conditionally hide fields on forms based on user's role</li>
    <li>Show additional guidance to forms based on the user's role</li>
   
    
</ul>

<p>Form Logic rules operate on a per content type basis. If you reuse fields on many different content types, this matters. For example, it allows the field to be shown to a user with a given role on some node edit/add forms but not on others</p>

<p>Form Logic taps into the validation code that is already built into Drupal. Out of the box, Drupal provides limited options for setting up validation on node edit/add forms without having to resort to a custom module. This module allows you to achieve a fair range of validation tasks without the need for code. However, if the form logic you need is very complex, custom code may be the best route.

<h3>Usage</h3>

<p>Form Logic adds an additional tab in the Manage fields interface called 'Form Logic', that sits between 'Manage Fields' and 'Manage Display'.</p>

<p>For each node, you can add any number of Form Logic rules. Each Form Logic rule consists of a set of conditions and a set of actions.</p>

<p>Form Logic rules can be dragged into any order. When a Form Logic rule is triggered, there is the option to continue to check further rules or to stop checking.</p>

<h3>Examples</h3>

<p>Some examples to go here...</p>

<h3>Developers</h3>

<p>Form logic is designed to be easy to extend. Check the additional <strong>[planned, not implemented]</strong> 'Form Logic Example' module for a worked example of an extension, with detailed documentation.</p>